.back
    .back_container
        .autorized Autorized Signiture
            input(type="text" name="myinput" maxlength='3' pattern='[0-9]{3}' placeholder='XXX' class='back_input' required)
            .last_number
            img(src='build/static/img/facsmile_Gorbachov.png')
        .lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore doloribus eaque earum eligendi et inventore iusto maxime neque obcaecati optio porro, quasi quidem quis quisquam quo rerum soluta, sunt voluptates?
        .lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorem eos et minima perferendis. Accusamus aperiam blanditiis doloribus dolorum ea earum error esse, incidunt nam natus, porro quis rem velit.
.link
    input(type='submit' class='submit' value='Touch to back')