.front
    .front_container
        .Name_Card
            span CREDIT CARD
        .chips_svg
            svg(width='80px' height='80px' class='front_svg')
                defs
                    linearGradient(id="grad" x1="2%" y1="0%" x2="98%" y2="100%")
                        stop(offset="-59%" style="stop-color:rgb(156,111,45);stop-opacity:1")
                        stop(offset="0%" style="stop-color:rgb(240,206,58);stop-opacity:1")
                        stop(offset="95%" style="stop-color:rgb(160,115,45);stop-opacity:1")
                        stop(offset="100%" style="stop-color:rgb(156,111,45);stop-opacity:1")
                rect( width='80' height='80' fill='url(#grad)' rx='20' stroke='black' stroke-width='4')
                polyline(points="40,0 40,30 50,30 65,15 80,15" fill="none"  stroke="black" stroke-width='2')
                polyline(points="80,40 50,40 50,30" fill="none"  stroke="black" stroke-width='2')
                polyline(points="50,40 50,50 65,65 80,65" fill="none"  stroke="black" stroke-width='2' class='s')
                polyline(points="50,50 40,50 40,80" fill="none"  stroke="black" stroke-width='2')
                polyline(points="40,50 30,50 15,65 0,65" fill="none"  stroke="black" stroke-width='2')
                polyline(points="30,50 30,40 0,40" fill="none"  stroke="black" stroke-width='2')
                polyline(points="0,15 15,15 30,30 30,40" fill="none"  stroke="black" stroke-width='2')
                polyline(points="30,30 40,30" fill="none"  stroke="black" stroke-width='2')
            svg(width='80px' height='80px' class='back_svg')
                defs
                    linearGradient(id="grad" x1="2%" y1="0%" x2="98%" y2="100%")
                        stop(offset="-59%" style="stop-color:rgb(156,111,45);stop-opacity:1")
                        stop(offset="0%" style="stop-color:rgb(240,206,58);stop-opacity:1")
                        stop(offset="95%" style="stop-color:rgb(160,115,45);stop-opacity:1")
                        stop(offset="100%" style="stop-color:rgb(156,111,45);stop-opacity:1")
                rect( width='80' height='80' fill='url(#grad)' rx='20' stroke='black' stroke-width='4')
                polyline(points="40,0 40,30 50,30 65,15 80,15" fill="none"  stroke="black" stroke-width='2')
                polyline(points="80,40 50,40 50,30" fill="none"  stroke="black" stroke-width='2')
                polyline(points="50,40 50,50 65,65 80,65" fill="none"  stroke="black" stroke-width='2')
                polyline(points="50,50 40,50 40,80" fill="none"  stroke="black" stroke-width='2')
                polyline(points="40,50 30,50 15,65 0,65" fill="none"  stroke="black" stroke-width='2')
                polyline(points="30,50 30,40 0,40" fill="none"  stroke="black" stroke-width='2')
                polyline(points="0,15 15,15 30,30 30,40" fill="none"  stroke="black" stroke-width='2')
                polyline(points="30,30 40,30" fill="none"  stroke="black" stroke-width='2')
        .number_card
            input(type="text" name="myinput" pattern="\\d{4}\\s+\\d{4}\\s+\\d{4}\\s+\\d{4}" class='front_input number_card' placeholder='XXXX   XXXX    XXXX    XXXX' required)
        .valid_thru
            input(id='thru' type="text" name="myinput" pattern=".{5,}" placeholder="00/00" class='front_input thru' required)
            label(for='thru' class='front_label') VALID THRU
            <i class="fas fa-caret-right"></i>
        .cardholder
            input(type="text" name="myinput" maxlength='13' pattern='[A-Za-z]+\\s[A-Za-z]+' placeholder='CARDHOLDER NAME' class='front_input' required)
        .master_card
            svg
                circle(r="40" cx="100" cy="50%" opacity='.7' fill='#FFA000' class='yellow')
                circle(r="40" cx="100" cy="50%" opacity='.7' fill='#D32F2F' class='red')
        .visa