.modal_window
    .alert_wrapper
        .message(class='alert') The card number:
        span(class='message alert_num_card') 1111 1111 1111 1111
        .message(class='alert') is not valid, please repeat the input 'Number Card'
        .alert_button(class='message') back to form