// Vars ==== //

// Fonts && ...

// Colors base======================================= //
$base-black: #625F5B;
$base-red: #720000;
// lighten ======== //
$yellow-light: #FFF9C4;
$grey-light: #DAD6B5;
$grey-light1: #616161;
$dark-light: #424242;
$blue-light: #2196F3;
// darken ========= //
$blue-dark: #303F9F;