doctype html
html(lang='ru-RU')
    head
        title Credit card
        link(rel='stylesheet' type='text/css' href='build/static/css/index.css')
        link(rel='stylesheet' href='build/static/font/font-awesome/css/fontawesome-all.min.css')
        link(href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet")
        link(rel="shortcut icon" href="build/static/img/favicon/favicon.ico" type="image/x-icon")
    body
        .wrapper
            div(id='credit_svg')
            form(action='' name='myform' method='get' class='container')
                include ../modules/front_card
                include ../modules/back_card
            include ../modules/modal_window
        script(src='build/static/js/libs.min.js')
        script(src='build/static/js/jquery.lazylinepainter-1.7.0.min.js')
        script(src='build/static/js/index.js')

